{% extends 'home.html' %}
{% block content %}

 <section class="section details-page">
        <div class="details-page">
            <div class="section-padding">
                <div class="container">
                    <h2 class="section-title">INTERNSHIPS</h2>
                    <nav aria-label="breadcrumb">
                    
                    </nav>
                </div><!-- /.container -->
            </div><!-- /.section-padding -->
        </div><!-- /.overlay -->
    </section><!-- /.page-name -->
    <br>
    <br>
    <br>
    <section class="section blog-posts">
        
            <div class="container section-padding-about">
                <div class="row">
                    <div class="col-md-6">
                    <br>
                        <article class="post type-post format-slider">
                            <div class="">
                                <div id="post-slider-02" class="post-slider-02 carousel slide carousel-fade" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active shadow">
                                            <img class="img-center img-fluid shadow" src="/static/images/banner/parallax10.jpg" alt="Entry Thumbnail">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.entry-thumbnail -->
                        </article>
                    </div>
                    <div class="col-md-6">
                            <div class="entry-content media">
                               
                                <div class="content-details media-body">
                                    <h2 class="section-title">Hire Interns For Your Corporate</h2>
                                   <!-- /.entry-title -->
                                    
                                    <p class="p-cus">
                                        It is not a simple matter to test, Hire, train, and include beginner level candidates in your project development from a large black box type of network. We come with a simple strategy for making you put on less efforts in such processes. Just hire candidates from a white box where the performances are clearly visible and have options to impose further test patterns.One can choose profiles from the different domains listed out in simple ways.      
                                    </p>

                                    <a href="/login" class="btn btn-info form-control">Get started</a>
                                </div><!-- /.content-details -->
                            </div><!-- /.entry-content -->
                    </div>
                </div>
                        
            </div>
        </section>       

    <section class="section facts bg-secondary  text-center">
        <div class="overlay">
            <div class="section-padding-about">
                <h1 class="title">Catagories</h1>
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="item mt-5">
                                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"><i class="fa fa-laptop-code"></i></div><!-- /.item-icon -->
                                <div class="item-details">
                                    <h3 class="item-title">Web Development</h3><!-- /.item-title -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item mt-5">
                                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"><i class="fas fa-robot"></i></div><!-- /.item-icon -->
                                <div class="item-details">
                                    <h3 class="item-title">Machine Learning</h3><!-- /.item-title -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item mt-5">
                                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"><i class="fab fa-android"></i></div><!-- /.item-icon -->
                                <div class="item-details">
                                    <h3 class="item-title">Mobile Development</h3><!-- /.item-title -->
                                </div><!-- /.item-details -->
                            </div><!-- /.item -->
                        </div>
                        
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-padding-about -->
        </div><!-- /.overlay -->
    </section>
<section>
    <div class="section container section-padding-about">
        <div class="row">
            <div class="col-md-6">
            <br>
                <article class="post type-post format-slider">
                    <div class="">
                        <div id="post-slider-02" class="post-slider-02 carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="img-center img-fluid shadow" src="/static/images/banner/parallax-02.jpg" alt="Entry Thumbnail">
                                </div>
                            </div>
                        </div>
                    </div><!-- /.entry-thumbnail -->
                </article>
            </div>
            <div class="col-md-6">
                <div class="entry-content media">
                   
                    <div class="content-details media-body">
                        <h2 class="section-title">Get Hired</h2>
                       <!-- /.entry-title -->
                        
                        <p class="p-cus">
                            Every Strength that you build need to be streched, improved, managed and proved inorder to stand in a huge network. i.e there must be some providance to apply your skills in real time.Just after your learning process experience the practical touch directly from the corporate world. Never choose a path that says just learn, always step towards a path which makes you travel from all the quarters of a full page.       
                        </p>

                        <a href="/login" class="btn btn-info form-control">Get started</a>
                    </div><!-- /.content-details -->
                </div><!-- /.entry-content -->
            </div>
        </div>
    </div>
 </section>                
{% endblock %}